{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #ffffff !important;
    }

    .user_card {
        width: 1000px;
        margin-top: 10px;
        margin-bottom: 10px;
        /* background: #74cfbf; */
        background-image: url({% static 'signup.jpg' %});
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 25px;
    }


    .form_container {
        margin-top: 20px;
    }

    #form-title {
        color: #2b3647;

    }

    .login_btn {
        width: 100%;
        background: #2b3647 !important;
        color: white !important;
    }

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .input-group-text {
        /* background: #a464c4 !important; */
        /* background: #2980b9 !important; */
        background: #2b3647!important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.30rem 0 0 0.30rem !important;
    }
</style>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">REGISTER</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text mr-1 pr-5"><i class="far fa-user fa-lg pr-1"></i>First Name</span>
                            </div>
                            {{form.first_name}}
                        </div>

						<div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text mr-1 pr-5"><i class="far fa-user fa-lg pr-1"></i>Last Name</span>
                            </div>
                            {{form.last_name}}
                        </div>

						<div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text mr-1 px-5" ><i class="far fa-envelope fa-lg pr-1"></i>Email</span>
                            </div>
                            {{form.email}}
                        </div>

						<div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text mr-1 pr-5 pl-4"><i class="fas fa-user pr-1"></i>Username</span>
                            </div>
                            {{form.username}}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text mr-1 pr-4"> <i class="fas fa-key pr-1"></i>Enter Password</span>
                            </div>
                            {{form.password1}}
                        </div>

						<div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text mr-1"> <i class="fas fa-key pr-1"></i>Repeat Password</span>
                            </div>
                            {{form.password2}}
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <input class="btn login_btn" type="submit" value="Register User">
                        </div>
                    </form>
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <p><a href="{% url 'password_reset' %}" class="btn btn-sm btn-danger">Forgot Password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}