{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
    <!-- Featured Products -->
    <h3 class="my-4 border-bottom border-top py-2" align="center">Brands</h3>
    <div class="row">
        {% if data %}
        {% for brand in data %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <a href="/brand-product-list/{{brand.id}}"><img src="/media/{{brand.image}}" class="card-img-top" alt="{{brand.title}}" height="200"/></a>
                <div class="card-body btn btn-dark">
                    <h6 class="card-text text-center"><a class="text-light" href="/brand-product-list/{{brand.id}}">{{brand.title}}</a></h6>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}