{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<div class="row">
		<!-- Filters -->
		<div class="col-md-2">
			<!-- <div class="col-md-3"> -->
			<!-- % include 'filters.html' % -->
		</div>
		<div class="col-md-9">
			<!-- Products -->
			<h3 class="mb-4 border-bottom pb-1">
				Products
			</h3>
			<div class="row">
				{% for product in data %}
				<div class="col-md-4 mb-4">
					<div class="card" style="border-radius: 10px;">
					  <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}" height="250" class="card-img-top" alt="{{product.title}}" style="border-radius: 10px;"></a>
					  <div class="card-body">
					    <h6 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h6>
					    <h7>&#8377 <span class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span></h7>
					  </div>
					  	<div class="card-footer foot-gradient" style="border-radius: 10px;">
				          <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
				          <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
				          <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
				          <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
						  	<button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}"><i class="fas fa-shopping-cart"></i></button>

						  	{% if user.is_authenticated %}
							<button class="btn btn-sm btn-danger add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></button>
							{% else %}
							<button class="btn btn-sm btn-danger disabled"><i class="fa fa-heart"></i></button>
							{% endif %}
					  	</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock %}